
<!DOCTYPE html>
<html>
<head>
  <title>免费代理IP_HTTP代理服务器IP_隐藏IP_QQ代理_国内外代理_西刺免费代理IP</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="Description" content="每日更新免费HTTP代理，所有代理均为6675端口高匿代理，可隐藏IP。国内每个省的http匿名代理实时更新，可以根据你的需要分批提取。" />
  <meta name="Keywords" content="免费HTTP代理,免费高匿代理,免费匿名代理,隐藏IP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  　　<meta name="applicable-device"content="pc,mobile">
  <link rel="stylesheet" media="screen" href="//fs.xicidaili.com/assets/application-9cf10a41b67e112fe8dd709caf886c0556b7939174952800b56a22c7591c7d40.css" />
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="s/sKTw2L76CF5jNNjxH/+C3XpysU0jpKkYIlVQoowjd22GM2gWtKmAG4jQkTVAutDNn6pXpA9fVhBTRe0yHaYg==" />
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1>西刺免费代理IP</h1>
      <img alt="免费http代理" id="logo" src="//fs.xicidaili.com/images/logo.png" />
      <div id="myurl">
        XiciDaili.com
      </div>
      <ul id="nav">
        <li><a class="active" href="/">首页</a></li>
        <li><a href="/api">API提取</a></li>
        <li><a class="false" href="/nn/">国内高匿代理</a></li>
        <li><a class="false" href="/nt/">国内普通代理</a></li>
        <li><a class="false" href="/wn/">国内HTTPS代理</a></li>
        <li><a class="false" href="/wt/">国内HTTP代理</a></li>
        <li><a class="false" href="/articles/">代理小百科</a></li>
      </ul>
    </div>
    <div id="body" class="clearfix home">


<div id="home" class="clearfix">


  <div class="main">
    <div style="line-height:2em;text-indent:1em">
      公告：本站所有代理IP地址均收集整理自国内公开互联网，本站不维护运营任何代理服务器，请自行筛选。
    </div>
    <table id="ip_list">
      <tr>
  <th colspan="8"> <h2>国内高匿代理IP</h2>
      <a class="more" href="/nn">更多</a></th>
</tr>
  <tr class="subtitle">
    <th class="country">国家</th>
    <th>代理IP地址</th>
    <th>端口</th>
    <th width="20%">服务器地址</th>
    <th class="country">是否匿名</th>
    <th>类型</th>
          <th width="11%">存活时间</th>
    <th width="12%">验证时间</th>
  </tr>
      {% for high in highs %}
      <tr class="odd">
          <td>
              <img src={{high.country}}>
          </td>
          <td>{{high.ipaddress}}</td>
          <td>{{high.port}}</td>
          <td>{{high.serveraddr}}</td>
          <td>{{high.isanonymous}}</td>
          <td>{{high.type}}</td>
          <td>{{high.alivetime}}</td>
          <td>{{high.verifictiontime}}</td>
      </tr>
        {% endfor %}
      <tr>
  <th colspan="8"> <h2>国内透明代理IP</h2>
      <a class="more" href="/nt">更多</a></th>
</tr>
  <tr class="subtitle">
    <th class="country">国家</th>
    <th>代理IP地址</th>
    <th>端口</th>
    <th width="20%">服务器地址</th>
    <th class="country">是否匿名</th>
    <th>类型</th>
          <th width="11%">存活时间</th>
    <th width="12%">验证时间</th>
  </tr>
        {% for lucency in lucencys %}
      <tr class="odd">
          <td>
              <img src={{lucency.country}}>
          </td>
          <td>{{lucency.ipaddress}}</td>
          <td>{{lucency.port}}</td>
          <td>{{lucency.serveraddr}}</td>
          <td>{{lucency.isanonymous}}</td>
          <td>{{lucency.type}}</td>
          <td>{{lucency.alivetime}}</td>
          <td>{{lucency.verifictiontime}}</td>
      </tr>
        {% endfor %}

    <tr>
  <th colspan="8"> <h2>HTTPS代理IP</h2>
      <a class="more" href="/wn">更多</a></th>
</tr>
  <tr class="subtitle">
    <th class="country">国家</th>
    <th>代理IP地址</th>
    <th>端口</th>
    <th width="20%">服务器地址</th>
    <th class="country">是否匿名</th>
    <th>类型</th>
          <th width="11%">存活时间</th>
    <th width="12%">验证时间</th>
  </tr>
        {% for https in https_list %}
      <tr class="odd">
          <td>
              <img src={{https.country}}>
          </td>
          <td>{{https.ipaddress}}</td>
          <td>{{https.port}}</td>
          <td>{{https.serveraddr}}</td>
          <td>{{https.isanonymous}}</td>
          <td>{{https.type}}</td>
          <td>{{https.alivetime}}</td>
          <td>{{https.verifictiontime}}</td>
      </tr>
        {% endfor %}
    <tr>
  <th colspan="8"> <h2>HTTP代理IP</h2>
      <a class="more" href="/wt">更多</a></th>
</tr>
  <tr class="subtitle">
    <th class="country">国家</th>
    <th>代理IP地址</th>
    <th>端口</th>
    <th width="20%">服务器地址</th>
    <th class="country">是否匿名</th>
    <th>类型</th>
          <th width="11%">存活时间</th>
    <th width="12%">验证时间</th>
  </tr>
        {% for http in http_list %}
      <tr class="odd">
          <td>
              <img src={{http.country}}>
          </td>
          <td>{{http.ipaddress}}</td>
          <td>{{http.port}}</td>
          <td>{{http.serveraddr}}</td>
          <td>{{http.isanonymous}}</td>
          <td>{{http.type}}</td>
          <td>{{http.alivetime}}</td>
          <td>{{http.verifictiontime}}</td>
      </tr>
        {% endfor %}

    <tr>
  <th colspan="8"> <h2>SOCKS IP代理</h2>
      <a class="more" href="/qq">更多</a></th>
</tr>
        <tr class="subtitle">
    <th class="country">国家</th>
    <th>代理IP地址</th>
    <th>端口</th>
    <th width="20%">服务器地址</th>
    <th class="country">是否匿名</th>
    <th>类型</th>
          <th width="11%">存活时间</th>
    <th width="12%">验证时间</th>
         {% for socket in socket_list %}
      <tr class="odd">
          <td>
              <img src={{socket.country}}>
          </td>
          <td>{{socket.ipaddress}}</td>
          <td>{{socket.port}}</td>
          <td>{{socket.serveraddr}}</td>
          <td>{{socket.isanonymous}}</td>
          <td>{{socket.type}}</td>
          <td>{{socket.alivetime}}</td>
          <td>{{socket.verifictiontime}}</td>
      </tr>
        {% endfor %}

    </table>

  </div>

<div class="side">
    <h2>购买专业版</h2>

    <a ref="nofollow" target="_blank" href="http://www.xiguadaili.com/"><img src="//fs.xicidaili.com/images/side.png" alt="Side" /></a>
  </div>



</div>
<div id="links">




</div>
    </div>


    <div id="footer">
     <span class="site_name">苏ICP备13041844号-1</span>
     <span class="site_name">西刺免费代理IP</span>
     <span class="copy">&copy;</span>
     <span class="site_url">XiciDaili.com </span>
    </div>
  </div>
  <div style="display:none">

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0cf76c77469e965d2957f0553e6ecf59";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

  </div>
</body>
</html>